body {
    background-color: #1e354a;
}

#header {
    color: #d1dce6;
    background-color: #eb2121;
    border: 3px solid black;
    border-radius: 10px;
    font-variant: small-caps;
    font-weight: 800;
    font-size: 40px
}

#round-box {
    color: #eb2121; 
    background-color: #d1dce6;
    margin-left: 45%;
    margin-right: 45%;
    font-size: 30px;
    font-weight: 800;
}

#caller {
    text-align: center;
    color: #fcff54;
    font-size: 24px;
    font-weight: 700;
    font-style: 'Trebuchet MS';
}

#result-indicator {
    font-weight: 800;
    font-size: 20px;
    color: white;
}

.flex-grid {
    display: flex;
}

.col {
    flex: 1;
    margin-left: 25%;
}

.column {
    float: left;
    width: 50%;
    
    font-size: 28px;
    font-weight: 700; 
    padding-left: 9%;
  }

  .row {
    padding-right: 4%;
}

/* Player Buttons */

.playerBtn {
    color: #eb2121;
    padding: 20px;
    border-radius: 10%;
    font-weight: 800;
    font-size: 22px;
}

.button-group {
    margin-top: 4%;
    margin-left: 2%;
}

/* Match Buttons */

#reset-game {
    margin-left: 1.7%;
    justify-content: center;
}

.shoot-style {
    border: 2px solid #eb2121;
    border-radius: 30px;
    padding: 20px 34px;
    color: #eb2121;
    background-color: white;
    font-weight: 800;
    font-size: 25px;
}

#next-round-btn {
    border: 2px solid black;
    border-radius: 30px;
    color: white;
    background-color: #eb2121;
    padding: 20px;
    font-weight: 800;
    font-size: 25px;
}

#play-again {
    background-color: #eb2121;
    border: 2px solid white;
    border-radius: 30px;
    margin-top: 3%;
    padding: 20px;
    font-weight: 800;
    font-size: 25px;
}

/* Info Page */

#header-info {
    color: #eb2121;
    background-color: white;
    font-variant: small-caps;
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    border: 3px solid black; 
    border-radius: 20px;
}

.return-game {
    margin-left: 65%;
    color: blue;
    font-weight: 900;
    font-size: 22px;
    border: 3px solid blue;
    border-radius: 10px;
    padding: 5px;
    
}

.game-info {
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 15px;
    border: 3px solid black; 
    border-radius: 20px;
    color: #eb2121;
    background-color: white;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
}

.rules {
    color: black;
    font-size: 26px;
    text-align: center;
}

#good-luck {
background-color: black;
color: white;
margin-top: 15px;
margin-left: 25%;
margin-right: 25%;
text-align: center;
}

.greeting {
    color: black;
    font-size: 22px;
    font-variant: small-caps;
    font-style: oblique;
    margin-bottom: 1%;
}

small {
    color: black;
}

.info-numbers {
    color: black;
}

.info-page {
    margin-left: 65%;
    color: blue;
    font-weight: 600;
    font-size: 22px;
    border: 3px solid blue;
    border-radius: 10px;
    padding: 5px;
}

/* Media Queries */
/* @media screen and (min-width: 1200px) {
    .playerBtn rock {
        color: orange;
    }
} */