body {
    background-color: #7891ab;
}

.heading {
    padding-left: 37%;
    font-size: 34px;  
}

#header {
    color: #eb2121;
    font-variant: small-caps;
    font-weight: 800;
    font-size: 50px
}

#round-box {
    color: #eb2121; 
    background-color: white;
    margin-left: 45%;
    margin-right: 45%;
    font-size: 44px;
    font-weight: 800;
}

#result-indicator {
    font-weight: 400;
    font-size: 20px
}

.flex-grid {
    display: flex;
}

.col {
    flex: 1;
    margin-left: 25%;
}

#result-indicator {
        color: white;
}

.column {
    float: left;
    width: 50%;
    margin-top: 5%;
    font-size: 28px;
    font-weight: 700; 
    padding-left: 9%;
  }

.playerBtn {
    color: #eb2121;
    padding: 20px;
    border-radius: 10%;
    font-weight: 800;
    font-size: 22px;
}

.button-group {
    margin-top: 4%;
    margin-left: 2%;
}

.row {
    padding-right: 4%;
}

.shoot-style {
    border: 2px solid #eb2121;
    border-radius: 30px;
    padding: 20px 34px;
    color: #eb2121;
    background-color: white;
    font-weight: 800;
    font-size: 25px;
}

#reset-game {
    /* margin-top: .5%; */
    margin-left: 1.7%;
    justify-content: center;
}

#next-round-btn {
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    background-color: #eb2121;
    padding: 20px;
    font-weight: 800;
    font-size: 25px;
}

#play-again {
    background-color: #eb2121;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    margin-top: 3%;
    padding: 20px;
    font-weight: 800;
    font-size: 25px;
}


