
body {
    background-color: #7891ab;
}

.heading {
    padding-left: 37%;
    font-size: 34px;  
}

#header {
    color: #eb2121;
}

#round-box {
    color: #eb2121; 
    background-color: white;
    margin-left: 45%;
    margin-right: 45%;
    font-size: 44px;
}


.flex-grid {
    display: flex;
}

.col {
    flex: 1;
    
    margin-left: 5%;
}

#result-indicator {
    margin-top: 2%;
        color: white;
}

.column {
    float: left;
    width: 50%;
    margin-top: 10%;
    font-size: 28px;
    font-weight: 700; 
    padding-left: 9%;
  }
  
.round-text {
    margin-top: 5%;
    margin-left: 28%;
}

.playerBtn {
    color: #eb2121;
    padding: 20px;
    border-radius: 10%;
}

.button-group {
    margin-top: 4%;
    margin-left: 2%;
}

.row {
    padding-right: 4%;
}

.shoot-style {
    border: 2px solid #eb2121;
    border-radius: 30px;
    color: #eb2121;
    background-color: white;
}

#reset-game {
    margin-top: 5%;
    margin-left: 3%;
    justify-content: center;
}

#next-round-btn {
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    background-color: #eb2121;
}

#play-again {
    background-color: #eb2121;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    margin-top: 3%;
    
}


